<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/new" method="post" enctype="multipart/form-data">
    <p>名前:<input type="text" name="user_name"></p>
    <p>本文:<input type="text" name="body"></p>
    <p><input type="file" name="file"></p>
    <input type="submit" value="POST">
  </form>
  
  <% @contents.each do |content| %>
  <div>
    <div>
      <p><%= content.name %></p>
      <p><%= content.body %></p>
      <span><%= content.good %></span>
      <form action="/good/<%= content.id %>" method="post">
        <input type="submit" value="LIKE">
      </form>
      <% unless content.img.empty? %>
      <p><img src="<%= content.img %>"></p>
      <% end %>
      <form action="/delete/<%= content.id %>" method="post">
        <input type="submit" value="DELETE">
      </form>
      <a href="/edit/<%= content.id %>">EDIT</a>
    </div>
  </div>
  <% end %>

</body>
</html>
